{
    "env": {
      "es6": true,
      "node": true,
      "mocha": true
    },
  
    "extends": "airbnb",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    },
  
    "rules": {
      "no-console": 0,
      "max-len": [2, 300, 4],
      "linebreak-style": "off",
      "consistent-return": "off",
      "no-param-reassign": 0,
      "arrow-body-style": 0,
      "object-curly-newline": 0,
      "no-multi-assign":"off",
      "allowTemplateLiterals": true,
      "prefer-destructuring":"off",
      "no-unused-vars":"off"
    }
  }
  