@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  /* background-image: url("../images/bg-image1.jpg"); */
  height: 100vh;
  color:#474747 !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif !important;
}

 form{
   padding-top:30px;
   padding-bottom:30px;
 }

body {
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  /* background: #232323; */
  color: #cdcdcd;
  /* font-family: "Avenir Next", "Avenir", sans-serif; */
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}


.form-style-1 {
  padding: 7px 0px 7px 5px;
  margin-top: 10px;
  font-size: 12px;
  border: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 2px;
  border-color: #474747;
  display: block;
  list-style: none;
  font-family: "Montserrat", sans-serif !important;
  text-transform: capitalize;
  /* font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
}
.formcls {
  max-width: 400px;
}
.divwidth {
  margin-left: 20%;
  margin-right: 20%;
}
.txtwidth {
  width: 99%;
}

.btnSub {
  /* margin-left: -5px; */
  padding-top: 7px;
  background-color: #46af4f;
  padding-bottom: 11px;
  padding-left: 10px;
  padding-right: 10px;
  color: #f2f2f2;
  margin-left: -2px;
  margin-right: 2px;
  margin-top: 20px;
  border: none;
}
.btnSub:hover {
  color: #474747;
  background: #f2f2f2;
  transition: 0.4s;

}
