@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Montserrat";
  font-size: 17px;
  padding: 8px;
}
.mobmenu {
  float: right;
  margin-top: -25px;
  margin-right: 20px;
}
.bot {
  background-color: #4caf50;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px !important;
  padding-right: 34px !important;
  color: #f2f2f2;
  text-align: center;
  border-radius: 5px;
  margin-top: -13px;
  transition: 0.4ms;
}
.bot:hover {
  background-color: #f2f2f2 !important;
  color: #474747 !important;
  transition: 0.4ms;
}

.bot1 {
  margin-left: 15px;
  background-color: #4caf50;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f2f2f2;
  text-align: center;
  border-radius: 5px;
  margin-top: -13px;
  transition: 0.4ms;
}
.bot1:hover {
  background-color: #f2f2f2 !important;
  color: #474747 !important;
  transition: 0.4ms;
}
.topnav1 a {
  transition: 0.4s;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav1 a:hover {
  background-color: #ddd;
  color: black;
}

.topnav1 a.active {
  background-color: #4caf50;
  color: white;
}
.cont {
  margin-left: 50px !important;
  color: #474747 !important;
  margin-right: 50px !important;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /*Internet Explorer 10 */ 
  display: flex;
  -ms-flex-wrap: wrap; /*Internet Explorer 10 */ 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /*Internet Explorer 10 */ 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /*Internet Explorer 10 */ 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /*Internet Explorer 10 */ 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid #474747;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.footer {
  text-align: center;
  /* bottom: 0%; */
  position: sticky !important;
  display: table;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  height: 60px; /* Height of the footer */
  /* margin-top: -100px; */
}
.logo1 {
  float: right;

  padding-right: 7px;
}
.fas {
  margin-top: -15px;
  color: #fff;
  font-size: 25px !important;
  cursor: pointer;
}
.logo5 {
  float: right;
  padding-right: 7px;
  margin-top:-5px;

}
.nav-btn-mag{
  margin-top:2px;
}
.del-cart{
  color:red;
font-size: 17px !important;
cursor: pointer;
padding-left: 5px;

}
.navy{
  color:navy;
}
.blue{
  color:blue;
}
.wine{
  color:rgb(172, 18, 18)
}
.orange{
  color:orange;
}
.ash{
  color:#474747;
}
.blk{
  color:black;
}
.botom{
  margin-bottom: 100px;
}
.mg-top{
margin-top:50px; 
margin-bottom:50px
}
.mg-up{
  margin-top: -20px;
}
.topnav{
  position: fixed;
  width: 100%;
  top: 0;
}
.mg-top1{
  margin-top :100px;
  margin-bottom :50px;
}
