@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  /* height: 100vh;
  /* background-position: center; */
  /* background-size: cover;
  background-repeat: no-repeat;
 
  background-repeat: no-repeat; */
  font-family: "Montserrat", sans-serif;
}
.bg {
  background-image: url("../images/bg-img.jpg");
  height: 100vh;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}
.regbut {
  float: right;
  margin-right: 50px;
}

.topnav {
  overflow: hidden;
  margin: 0px;
  background-color: #474747;
}

.mgl {
  margin-left: 100px;
}

.topnav a {
  transition: 0.4s;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

body {
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  /* background: #232323; */
  color: #cdcdcd;
  /* font-family: "Avenir Next", "Avenir", sans-serif; */
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

/* a:hover {
  color: tomato;
} */

#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  padding-left: 20px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}
.navbar1 {
  background-color: #474747;
  color: white;
  padding: 20px 0;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;

  position: relative;

  background: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #edededd9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}
@media screen and (max-width: 414px) {
  .card {
    /* margin-top: 30%; */
    width: 80%;
  }
  .button {
    border-radius: none;
  }
  .button1 {
    border-radius: none;
  }
  .cardrg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 95%;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.6);
    color: #474747;
  }
  .bg {
    height: -webkit-fill-available;
  }
}
@media screen and (max-width: 411px) {
  .card {
    /* margin-top: 20% !important; */
    width: 80%;
  }
  .button {
    border-radius: none;
  }
  .button1 {
    border-radius: none;
  }
  .cardrg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 95%;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #474747;
  }
  .bg {
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 375px) {
  .card {
    /* margin-top: 30%; */
    width: 80%;
  }
  .button {
    border-radius: none;
  }
  h1 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  h4 {
    margin-bottom: 20px;
  }
  .button1 {
    border-radius: none;
  }
  .cardrg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 95%;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #474747;
  }
  .bg {
    height: -webkit-fill-available;
  }
}
@media screen and (max-width: 360px) {
  .card {
    margin-top: 20px !important;
    margin-bottom: 100px !important;
    width: 80%;
  }

  h2 {
    font-size: 25px;
  }
  .button {
    border-radius: none;
  }
  .button1 {
    border-radius: none;
  }
  .cardrg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 95%;
    /* margin-top: 20%; */
    background-color: rgba(255, 255, 255, 0.8);
    color: #474747;
  }
  .bg {
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 320px) {
  .card {
    /* margin-top: 30%; */
    width: 80%;
  }
  .button {
    border-radius: none;
  }
  .button1 {
    border-radius: none;
  }
  h1 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    margin-bottom: 20px;
  }
  h5{
    font-size: 10px;
  }
  .cardrg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    padding-top: 1%;
    /* padding-bottom: 2%; */
    width: 95%;
    margin-top: 10px !important;
    background-color: rgba(255, 255, 255, 0.8);
    color: #474747;
  }
  .bg {
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 620px) {
  /* body {
    background-image: url("../images/bg-image1.jpg");
  } */
  .topnav {
    display: none;
  }
  .button {
    width: 80%;
    border-radius: none;
  }
  .button1 {
    width: 80%;
    border-radius: none;
  }
  .card {
    background-color: #4747477b;
    margin-top:30% !important;
  }
  .cardrg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 95%;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #474747;
  }
}

@media screen and (min-width: 621px) {
  #menuToggle {
    display: none;
  }
  .navbar1 {
    display: none;
  }
  .button {
    width: 45%;
    border-radius: none;
    text-align: center;
  }
  .button1 {
    width: 45%;
    border-radius: none;
    padding: 50%;
    text-align: center;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 2%;
  border-radius: 8px;
  display: table;
  margin-top: 12%;
  background-color: rgba(255, 255, 255, 0.94);
  color: #474747;
}

.cardrg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 1%;
  border-radius: 10px;
  padding-bottom: 2%;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #474747;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligncnt {
  text-align: center;
  color: #474747;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.button {
  background-color: #4caf50;
  border: 0px;
  color: white;
  /* border-radius: 10px 0px 0px 10px; */
  padding: 3% 15%;
  text-align: center;
  display: inline;
  margin: 4px -3px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: #4caf50;
  border: 0px;
  color: white;
  padding: 10px 0px 10px 0px;
  padding: 3% 15%;
  text-align: center;
  font-weight: 600;
  width: 100%;
  display: grid;
  font-size: 20px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #474747;
  border: 0px;
  color: white;
  /* border-radius: 0px 10px 10px 0px; */
  padding: 3% 15px;
  text-align: center;
  display: inline;
  margin: 4px -3px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.a3 {
  background-color: #474747;
  border: 0px;
  color: white;
  /* border-radius: 0px 10px 10px 0px; */
  padding: 10px 0px 10px 0px;
  display: grid;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.a3:hover {
  background-color: #f2f2f2;
  color: #474747;
}
.a4 {
  background-color: #4caf50;
  border: 0px;
  color: white;
  padding: 10px 0px 10px 0px;
  display: grid;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.a4:hover {
  background-color: #f2f2f2;
  color: #474747;
}

.a5 {
  background-color: #4caf50;
  border: 0px;
  color: white;
  padding: 10px 0px 10px 0px;
  padding: 3% 15%;
  text-align: center;
  font-weight: 600;
  display: grid;
  font-size: 20px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.a5:hover {
  background-color: #f2f2f2;
  color: #474747;
}
.button:hover {
  background-color: #f2f2f2;
  color: #474747;
}

.button1:hover {
  background-color: #f2f2f2;
  color: #474747;
}
.logo {
  float: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
}

.logo1 {
  float: right;
  /* padding-left: 40px; */
  padding-right: 40px;
  /* padding-top: 8px; */
}
.loginwidth {
  width: 60%;
}
.form-style-1 {
  padding: 10px 0px 5px 5px;
  margin-top: 10px;
  font-size: 15px;
  border: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 2px;
  border-color: #474747;
  display: block;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  /* font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
}
.formcls {
  max-width: 400px;
}
/* .divwidth { */
/* margin-left: 20%; */
/* margin-right: 20%; */
/* } */
.txtwidth {
  width: 99%;
}
.footer {
  text-align: center;
  /* bottom: 0%; */
  position: sticky !important;
  display: table;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  height: 60px; /* Height of the footer */
  /* margin-top: -100px; */
}
.img-wd {
  width: 150px;
}
.ash {
  color: #474747;
}
.bm {
  margin-bottom: 30px;
}
.fl-right {
  float: right;
}
.mr {
  margin-right: 15px;
}
.c-marg{
  margin: 10px;
}
.mt{
  margin-top:50px;
}
.tm {
  margin-top: 30px;
}
.ErrMsg{
margin-top:2px;
margin-bottom: -8px;
font-size: 13px;
color:red;
text-align: left;
padding-left: 5px;
}
.mg-top{
  margin-top:40px;
  margin-bottom:40px;
}